{% extends "Consultorias/padre.html" %}

{% load static %}

{% block inicio %}

Bienvenido a Consultorias Techgrow

{% endblock %}

{% block buscador %}

<p style="color:white"> Este proyecto inicialmente es para un emprendimiento personal dedicado al área de consultorías en el apartado de e-commerce, especificamente
    en Data Science para realizar modelos que permitan automatizar los procesos dentro de una empresa y/o predecir las necesidades del cliente,
    es por ello que esto no es algo tipo blog sino para un futuro reutilizar este proyecto para seguir adelante.
    Muchas gracias por todo profesor Juan Carlos sobre todo en ayudarme en dar el paso en entrar en este mundo de la programación que tanto quería. </p>


<p style="color:white"> Hecho por: Andrés Pereira. Profesión: Ingeniero Industrial especializado en Análisis de datos.</p>
{% endblock %}

{% block restpage %}
{% endblock %}