{% extends "Consultorias/padre.html" %}

{% load static %}

{% block nav %}
{% endblock %}

{% block inicio %}

Lista Patrocinadores

{% endblock %}

{% block resultadosparabuscador %}

<p style="color:white">Esta es la lista de patrocinadores</p>

{% for x in object_list %}
<div style="text-align: center;">
<p style="color:white;">
    Nombre: {{x.ads_client_name}} --- Compañia: {{x.ads_client_company}}
    

    <button style="background-color:cadetblue; border-color:black;border-radius: 22px">
        <a style="color:white" href= '{% url "detalle_patro" x.id %}'> Detalle </a>
    </button>

</p>

    </div>

{% endfor %}

{% if  request.user.is_staff %}

<p style="color:white">¿Quieres ser un Patrocinador? da click en el siguiente boton.</p>


<button style="background-color:crimson; border-color:black;border-radius: 22px">
    <a style="color:white" href = '{% url "crear_patrocinador" %}'> Crear Patrocinador </a>
</button>

{% endif %}

{% endblock %}

{% block restpage %}
{% endblock %}